@media only screen   
and (min-device-width : 320px)   
/* and (max-device-width : 480px)  */
{ 
    #navbar {
       height: 100%;
       width: 25%;
       position: fixed;
       background-color: blue;
       top: 0;
       left: 0;
    }  
}